<% if user_signed_in? %>

  <h1>Profile</h1>

  <div class="col-md-4">
    <ul>
      <li>Name: <%= current_user.username %></li>
      <li>Email: <%= current_user.email %></li>
    </ul>

    <table id="todos">
      <thead>
        <tr>
          <td colspan="2">To-Do List</td>
        </tr>
      </thead>
      <tr>
        <th>Description</th>
        <!-- <th>Days left</th> -->
        <th>Complete</th>
      </tr>
      <% @user.items.each do |item| %>
        <%= render partial: 'items/item', locals: { item: item } %>
      <% end %>
    </table>

    <div id="todo_new">
      <h5>Add a new To-Do item:</h5>
      <%= render partial: 'items/form' %>
    </div>

  </div>

<% end %>
