<%= form_for(Item.new, remote: true) do |f| %>

  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter to-do" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>

<% end %>
