  <tr id="todo-<%= item.id %>">
    <td><%= item.name %></td><td><%= link_to "", item, :title => "Mark completed, and delete item.", method: :delete, class: 'glyphicon-ok',  data: { confirm: "Are you sure you want to mark this completed?  It will delete the item.  This cannot be undone." }, remote: true %></td>
  </tr>
